<form class="form-container">
<!--  <label>-->
<!--    <input type="text" name="todoInput" (input)="update_item_name($event)">-->
<!--  </label>-->
  <label>
    <input type="text" [(ngModel)]="new_item">
  </label>
  <button (click)="add_text()">Add Todo</button>
<!--  <p *ngIf="list_item_created; else no_text">{{ listItem }}</p>-->
<!--  <ng-template #no_text >-->
<!--    <p>No Item was Created!</p>-->
<!--  </ng-template>-->
<!--  <p>{{ new_item }}</p>-->
<!--  <p-->
<!--    [style]="{'background-color': change_color()}"-->
<!--    [ngClass]="{checked: status_item==='Checked'}"-->
<!--  >{{ status_item }}-->
<!--  </p>-->
  <ul>
     <li *ngFor="let item of items; let i = index">
      <p>{{item.title}}</p>
      <button type="button" [disabled]="list_activities" (click)="on_remove_item(i)">Remove</button>
    </li>
    <app-list-component *ngFor="let item of items; let i = index" [list_item]="item.title"></app-list-component>
  </ul>
</form>
