.form-text-input input
{
	border: none;
	border-bottom: 0.1rem solid #000000;
	font-family: sans-serif;
	font-size: 1.125rem;
	height: 3vh;
	outline: none;
	width: 20rem;
}

.form-container button
{
	background-color: transparent;
	border: none;
	border-radius: 5px;
	box-shadow: 0 0 0.1rem 0.01rem #3057f1;
	color: #000000;
	cursor: pointer;
	height: 3vh;
	margin-left: 2rem;
	outline: none;
	transition: all 0.3s ease;
	width: 10rem;
}

.form-container button:hover
{
	box-shadow: 0 0 0.3rem 0.01rem #3057f1;
	transform: scale(1.05);
}

.form-container
{
	display: flex;
	justify-content: center;
	margin: 5rem 0;
}
