.todo-body
{
	margin: 0 auto;
	max-width: 50rem;
}

.progress-bar
{
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 5;
}
.buttons
{
	display: flex;
	justify-content: flex-end;
}
