.todo-body
{
	margin: 0 auto;
	max-width: 50rem;
}

.progress-bar
{
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 5;
}

.button-select-en
{
	background-image: url('https://purecatamphetamine.github.io/country-flag-icons/3x2/GB.svg');
}
.button-select-de
{
	background-image: url('https://purecatamphetamine.github.io/country-flag-icons/3x2/DE.svg');
}
.button-select-mk
{
	background-image: url('https://purecatamphetamine.github.io/country-flag-icons/3x2/MK.svg');
}
