.en
{
	background-image: url('https://purecatamphetamine.github.io/country-flag-icons/3x2/GB.svg');
	background-position: right;
	background-repeat: no-repeat;
}

.de
{
	background-image: url('https://purecatamphetamine.github.io/country-flag-icons/3x2/DE.svg');
	background-position: right;
	background-repeat: no-repeat;
}

.mk
{
	background-image: url('https://purecatamphetamine.github.io/country-flag-icons/3x2/MK.svg');
	background-position: right;
	background-repeat: no-repeat;
}
