<form>
	<mat-form-field appearance="fill" class="select-language">
		<mat-label>{{ 'todo.selectLanguage' | transloco }}</mat-label>
		<mat-select name="language">
			<mat-option>{{ 'todo.selectLanguage' | transloco }}</mat-option>
			<mat-option
				*ngFor="let language of languages"
				[value]="language.type"
				(click)="setLanguage(language)">
				<div class="{{language.type}}">
					<p>{{ language.label }}</p>
					<img src="./assets/flags/{{language.type}}.svg" alt="{{language.label}}" />
				</div>
			</mat-option>
		</mat-select>
	</mat-form-field>
</form>
