.item
 {
	align-content: center;
	background-color: #fff;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: space-between;
	margin: 1rem 0;
	padding: 0.5rem 1rem;
}
.item p
 {
	color: #056094;
	font-weight: 700;
	margin: 0 ;
}
.item button
{
	background-color: #118fd8;
	border: none;
	border-radius: 0.25rem;
	color: #fff;
	padding: 0.35rem 0.8rem;
	transition: all 0.3s ease;
}
.item button:hover
{
	cursor: pointer;
	transform: translateY(-0.1rem);
}
.item button:active
{
	transform: translateY(0);
}
