.registration-body
{
	align-content: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	left: 50%;
	position: fixed;
	top: 50%;
	transform: translate(-50%,-50%);
}
.menu-button-wrapper
{
	align-content: center;
	display: flex;
	justify-content: space-between;
	button
	{
		background-color: #4f77cd;
		color: #ffffff;
		margin: 1em 0;
	}
}
