<form [formGroup]="form" class="register-form" (submit)="sendRegistration()">
	<mat-form-field appearance="fill">
		<mat-label for="email">{{ 'authentication.email' | transloco }}</mat-label>
		<input type="email" formControlName="email" id="email" matInput required email />
	</mat-form-field>
	<mat-form-field appearance="fill">
		<mat-label>{{ 'authentication.password' | transloco }}</mat-label>
		<input formControlName="password" matInput [type]="unmask ? 'password' : 'text'" required />
		<button mat-icon-button matSuffix (click)="unmask = !unmask">
			<mat-icon>{{ unmask ? 'visibility_off' : 'visibility' }}</mat-icon>
		</button>
	</mat-form-field>
	<button type="submit" matLine mat-raised-button class="signUp-button">{{ 'authentication.register' | transloco }}
	</button>
</form>
